@use './prop.scss' as *;
@import './flex.scss';
html, body {
    padding: 0;
    margin: 0;
    font-family: var(--el-font-family);
}
*{
    box-sizing: border-box;
}

.appThemeBg {
    // background-image : url('/images/bg-light.jpg');
    // background-size: cover;
    // background-repeat: no-repeat;
    // background-position: center center;
}

html.dark {
    .appThemeBg {
        // background-image : url('/images/bg-dark.jpg');
        // background-size: cover;
        // background-repeat: no-repeat;
        // background-position: center center;
    } 
    .glass{
        /* From https://css.glass */
        background: rgba(33, 33, 33, 0.8);
    }
}

.glass{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.6);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgba(255, 255, 255, 0.31);
}

.card{
    padding: var(--el-component-size-small);
    border-radius: var(--el-border-radius-round);
}

.fadeOut {
    display: block;
    -webkit-animation: fadeOut 1s;
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

.pointer {
    cursor: pointer;
}
.cursorPointer {
    cursor: pointer;
}
.color__danger {
    color: #F56C6C;
}
.color__danger__hover {
    color: #F56C6C;
    opacity: .5;
    &:hover {
        opacity: .8;
    }
}
.icon__hover {
    font-size: 1.5rem;
    color: var(--color-grey-400);
    &:hover {
      color: var(--primary-color);
    }
}
.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
@-webkit-keyframes fadeOut {
    0% { opacity: 1;}
    99% { opacity: 0.01;width: 100%; height: 100%;}
    100% { opacity: 0;width: 0; height: 0;}
}  
@keyframes fadeOut {
    0% { opacity: 1;}
    99% { opacity: 0.01;width: 100%; height: 100%;}
    100% { opacity: 0;width: 0; height: 0;}
}

