@use './prop.scss' as *;
@import './flex.scss';
html, body {
    padding: 0;
    margin: 0;
    font-family: var(--el-font-family);
}
*{
    box-sizing: border-box;
}

.appThemeBg {
    background-image : url('/images/bg-light.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

html.dark {
    .appThemeBg {
        background-image : url('/images/bg-dark.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    } 
    .glass{
        /* From https://css.glass */
        background: rgba(61, 61, 61, 0.2);
    }
}

.glass{
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.3px);
    -webkit-backdrop-filter: blur(6.3px);
    border: 1px solid rgba(255, 255, 255, 0.31);
}

.card{
    padding: var(--el-component-size-small);
    border-radius: var(--el-border-radius-round);
}

.fadeOut {
    display: block;
    -webkit-animation: fadeOut 1s;
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}

.pointer {
    cursor: pointer;
}

@-webkit-keyframes fadeOut {
    0% { opacity: 1;}
    99% { opacity: 0.01;width: 100%; height: 100%;}
    100% { opacity: 0;width: 0; height: 0;}
}  
@keyframes fadeOut {
    0% { opacity: 1;}
    99% { opacity: 0.01;width: 100%; height: 100%;}
    100% { opacity: 0;width: 0; height: 0;}
}

